version: "3.9"

services:
  mysql:
    image: mysql
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - 3306:3306
    volumes:
      - /root/app/mysql/data/:/var/lib/mysql
      - /root/app/mysql/conf.d:/etc/mysql/conf.d
      - /root/app/mysql/my.cnf:/etc/mysql/my.cnf
  rabbitmq:
    image: rabbitmq
    container_name: rabbitmq
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - /root/app/rabbitmq/data:/var/lib/rabbitmq
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - /root/app/nginx/www:/www
      - /root/app/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - /root/app/nginx/conf/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - /root/app/nginx/logs:/wwwlogs
  oauth2:
    image: flow-eda-oauth2
    container_name: oauth2
    network_mode: host
  logger:
    image: flow-eda-logger
    container_name: logger
    network_mode: host
    volumes:
      - /root/app/springboot/logger/logs:/logs
  runner:
    image: flow-eda-runner
    container_name: runner
    network_mode: host
  web:
    image: flow-eda-web
    container_name: web
    network_mode: host
