server:
  port: 8081
spring:
  application:
    name: flow-eda-web
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/flow_eda?useSSL=false&useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
    hikari:
      max-lifetime: 60000
      connection-timeout: 10000
      validation-timeout: 3000
      maximum-pool-size: 10
      minimum-idle: 5
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    log_exchange: flow.log
    log_routing_key: flow.operation.log
mybatis:
  type-handlers-package: com.flow.eda.web.mybatis
  configuration:
    map-underscore-to-camel-case: true
dubbo:
  application:
    name: flow-eda-web
    qos-enable: false
    qos-accept-foreign-ip: false
  registry:
    protocol: dubbo
    address: nacos://localhost:8848
    username: nacos
    password: nacos
  protocol:
    name: dubbo
    port: 20881
  consumer:
    check: false
    timeout: 5000
    retries: 0
security:
  oauth2:
    resource-id: flow-eda
    client-id: 1df7b0c1-aac0-148a14c7cba8
    client-secret: zcUaT32GlwIjz4yBJjYZIIMvzf
    check-token-url: http://localhost:8086/oauth/check_token
logging:
  level:
    com.alibaba.nacos.common.remote.client: warn
