.flow-content {
  display: flex;
  width: 100%;
  height: 96%;
  border: 1px solid #ccc;

  .nodes-wrap {
    width: 150px;
    height: 100%;
    border-right: 1px solid #ccc;

    .node {
      display: flex;
      width: 80%;
      height: 40px;
      margin: 5px auto;
      line-height: 40px;
      border: 1px solid #ccc;

      &:hover {
        cursor: grab;
      }

      &:active {
        cursor: grabbing;
      }

      .svg {
        width: 40px;
        height: 40px;
      }

      .name {
        flex-grow: 1;
        width: 0;
        padding-right: 6px;
        font-size: 14px;
        text-align: center;
      }

      .description {
        position: absolute;
        z-index: 9999;
        height: 32px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        line-height: 32px;
        text-align: left;
        background-color: #dcdfe6;
        border-radius: 10px;
      }
    }
  }

  .flow-wrap {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    background-image: url('/img/point.png');
    outline: none !important;

    #flow {
      position: relative;
      width: 100%;
      height: 100%;

      .auxiliary-line-x {
        position: absolute;
        z-index: 9999;
        border: 0.5px dashed #2ab1e8;
      }

      .auxiliary-line-y {
        position: absolute;
        z-index: 9999;
        border: 0.5px dashed #2ab1e8;
      }
    }
  }
}
.jtk-connector.active {
  z-index: 9999;

  path {
    animation: ring;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    stroke: #150042;
    stroke-width: 1.5;
    stroke-dasharray: 5;
  }
}

@keyframes ring {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}

:not(:root):fullscreen::backdrop {
  background: white;
}

.ant-card-body {
  height: calc(100vh - 180px);
}
