.flow-log {
  position: fixed;
  bottom: 0;
  width: 92.4%;
  height: 320px;

  .drag-box {
    height: 6px;
    cursor: n-resize;
  }
}

.CodeMirror {
  font-family: consolas, serif !important;

  .CodeMirror-scroll {
    margin: 0;
    padding: 0;
  }

  .CodeMirror-hscrollbar {
    overflow: hidden;
  }
}

.CodeMirror pre {
  font-size: 14px;
  font-family: consolas, serif !important;
}
