* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    --el-component-size: 42px;
}

.el-table__row {
    height: 57.5px;
}

tr {
    height: 40px;
}

.el-input__wrapper {
    width: 91%;
}

.el-button.el-button--small {
    min-height: 32px;
    padding: 9px 15px;
    border-radius: 3px;
    margin-top: -2px;
    font-size: 12px;
}

.toolbar .el-input__inner {
    height: 32px;
    padding: 0px 5px;
}

.el-button {
    min-height: 40px;
}

a {
    text-decoration: none
}

.content-box {
    position: absolute;
    left: 160px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content {
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.content-collapse {
    left: 65px;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.pagination {
    margin: 20px 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.el-button+.el-tooltip {
    margin-left: 0px;
}

.el-table tr:hover {
    background: #f6faff;
}