.node-detail {
  flex: 0 0 auto;
  float: left;
  width: 28%;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;

  .detail-header {
    min-height: 32px;
    padding: 12px 12px 10px 12px;
    border-bottom: 1px solid #dce3e8;

    .title {
      float: left;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }

    .button {
      padding: 7px 15px;
      font-size: 14px;
    }
  }

  .detail-body {
    .row {
      padding: 8px 8px 8px 14px;

      .item {
        margin-bottom: 12px;

        .input {
          width: 100%;
        }

        .input-left {
          float: left;
          width: 50%;
        }

        .input-right {
          float: right;
          width: 50%;
        }
      }
    }
  }
}
